[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NeuralSens"]
	path = NeuralSens
	url = https://github.com/cran/NeuralSens
[submodule "TSLSTMplus"]
	path = TSLSTMplus
	url = https://github.com/jaipizgon/tslstmplus
